@import url('https://fonts.googleapis.com/css?family=Yeseva+One&subset=cyrillic-ext,latin-ext');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');


html,body{ 
    background:url('../images/food-salad-restaurant-person.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  font-family: 'Yeseva One', cursive;
}

.clear{
	clear:both;
}

h1{
	font-size: 8em;
	color: #fff;
	text-align: center;
	margin:40px 0;
	text-shadow: 5px 5px 10px #000;
}

 

 .result{
	 background: #fff;
	 box-shadow: 0 0 20px #000;
	 text-align: center;
	.content{
		background: url("../images/content-bg.png") no-repeat top center;
		padding:10px 0;
	}
	 .food-image{
		 width: 100%;
		 display: block;
		 min-height: 220px;
		 background: url("../images/loading.gif") no-repeat center center;
	 }
	  p.food-name{
		 font-size: 2.4em;
		 text-align: center;
		 text-decoration: underline;
		 margin-bottom: 20px;
	 }

	 .btn{
		 min-width:120px;
		&.button1{
			background: #0091ab;
			text-align: center;
			padding:10px 20px;
			color:#fff;
			font-size: 1.3em;
			border-radius: 0;
			font-weight:light;
		}

		&.button2{
			background: #ab0012;
			text-align: center;
			padding:10px 20px;
			color:#fff;
			font-size: 1.3em;
			border-radius: 0;
			font-weight:light;
		}

		&.button3{
			background:none;
			border: 1px solid #18ab00;
			text-align: center;
			padding:10px 20px;
			color:#18ab00;
			font-size: 1.3em;
			border-radius: 0;
			font-weight:light;
			margin:15px 0;
			box-shadow: 0 0 15px rgba(0,0,0,.45);
		}

	 }

	 


 }


@media (max-width: 600px) {
	h1{
		font-size: 4em;
	}
	.result{
		.food-image{
			min-height: 140px;
		}
		p.food-name{
			font-size: 1.5em;
		}
		.btn{
			margin:10px;
			display: block;
			&.button3{
				margin:10px;
			}
		}
		
	}
}